.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 150px 300px 200px;
    grid-template-areas:
        ". . h h . ."
        "m m m . s s"
        ". . f f f f";
}

.sec1 {
    grid-area: h;
}

.sec2 {
    grid-area: m;
}

.sec3 {
    grid-area: s;
}

.sec4 {
    grid-area: f;
}